@import "bootstrap-sprockets";
@import 'bills';

// ******* flash notice and alert styling ******* //
html a {
  color: black;
}

.flash-alert{
  padding:  .91324200913242%;
  border: 1px solid #750202;
  color: #750202;
  font-size: 18px;
  background-color: #fcadad;
  font-weight: bold;
}

.flash-notice {
  padding:  .91324200913242%;
  border: 1px solid #017505;
  color: #017505;
  font-size: 18px;
  background-color: #b5ffb2;
  font-weight: bold;
}

@import 'bootstrap-custom';
