// Place all the styles related to the Bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2.panel-title {
  font-size: 1.5em;
}
